<div class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed" uk-sticky="media: 960">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">Telematics</a>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.nav }}
                    <li {{ if $currentPage.HasMenuCurrent "nav" . }}class="uk-active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a>
            </div>
        </nav>
    </div>
</div>